Repository priyankarpal/projectshut, changes with the labels that .github/labeler.yaml gives for each.
All labels: level1, level2, level3

modify HomePage.jsx (#944)
  src/pages/HomePage.jsx
  tailwind.config.cjs
Labels: level2, level3

Rename labeler.yaml to labeler.yml
  .github/labeler.yml
Labels: level3

Rename labeler.yaml to labeler.yml
  .github/workflows/labeler.yml
Labels: level3

Update labeler.yml
  .github/labeler.yml
Labels: level3

Update labeler.yml
  .github/labeler.yml
Labels: level3

Required changes completed.
  src/DB/projects.json
Labels: level1, level3

.github/labeler.yaml:

level1:
  - "src/DB/*"
level2:
  - "src/components/*"
  - "src/pages/*"
  - "src/utils/*"
level3:
  - "**/*"
