Repository priyankarpal/projectshut, pull requests merged in 2023-11, with the labels that each got.

#2297 chore(dep): upgrade all dependencies
  package.json
  pnpm-lock.yaml
Labels: wait for reviewers, dependencies

#2288 chore: project addition by Priyansh
  DB/projects.json
Labels: projects addition, wait for reviewers

#2329 added introspecta
  DB/projects.json
Labels: projects addition, wait for reviewers, title-needs-formatting
