Repository priyankarpal/projectshut, pull requests merged in 2023-07, with the labels that each got.

#1477 chore: adding memory game
  src/DB/projects.json
Labels: gssoc23, projects addition, level1

#1478 chore: project addition by vinaysingh-chaudhary
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1479 chore: project addition added by Netflix clone added
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1482 chore: project addition by Avdhesh-Varshney #1443
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers, changes-required

#1485 chore: project addition by Rehan (Issue #1484)
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1487 chore: Adding News App
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1488 chore: project addition by Shivam #1455
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1493 chore: project addition by smty2018
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1494 chore: project addition added by Dance Website
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1474 chore: added Educational Website
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers, changes-required

#1489 chore: Addition of cookie clicker whiteknight16
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1504 chore: Added the Project by Parmesh Bhatt
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1508 chore: Add Projects by Adity2911
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1510 chore: Added by Amazon clone project
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1514 chore: Added new project to the list
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1516 chore: project added by AdityaLahane-2003
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1525 chore: project addition by srujana-16
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1526 chore: project added weather report
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1544 fix: project page and user project card
  app/projects/[username]/page.tsx
  app/projects/page.tsx
Labels: wait for reviewers

#1556 chore: project added donation carnival
  DB/projects.json
Labels: projects addition, wait for reviewers

#1557 chore: Added project by Prajwal0225
  DB/projects.json
Labels: projects addition, wait for reviewers

#1563 chore: project addition by anamika7153 #1399
  DB/projects.json
Labels: projects addition, wait for reviewers

#1553 fix: map to render nav links for mobile navbar
  components/SideMenu.tsx
Labels: gssoc23, level1, wait for reviewers, changes-required

#1569 chore: project added motivational quote
  DB/projects.json
Labels: projects addition, wait for reviewers

#1574 chore: project addition by Avdhesh-Varshney #1511
  DB/projects.json
Labels: projects addition, wait for reviewers

#1568 fix: Icons not showing on the docs page.
  app/docs/page.tsx
Labels: gssoc23, level1, wait for reviewers

#1580 chore: project addition by smty2018 #1452
  DB/projects.json
Labels: projects addition, wait for reviewers

#1583 chore: project addition by Dimple-Choudhary #1549
  DB/projects.json
Labels: projects addition, wait for reviewers

#1579 refactor: Improved Docs Page Codebase
  app/docs/page.tsx
Labels: wait for reviewers, 💬 talk: discussion

#1587 chore: Added the Student Database Management system by Parmesh Bhatt
  DB/projects.json
Labels: projects addition, wait for reviewers

#1586 fix: selectedOption not working properly. unable to…
  .gitignore
  app/projects/page.tsx
Labels: gssoc23, level2, wait for reviewers

#1577 chore: added a project
  DB/projects.json
Labels: projects addition, wait for reviewers

#1597 fix: selected filter tag not going properly so i h…
  app/projects/page.tsx
Labels: wait for reviewers

#1595 chore: Airbnb clone added
  DB/projects.json
Labels: projects addition, wait for reviewers

#1601 chore: added my project info
  DB/projects.json
Labels: projects addition, wait for reviewers

#1602 docs: change the image
  README.md
Labels: wait for reviewers

#1603 chore: project addition by Suraj Pratap : CoinMeter
  DB/projects.json
Labels: projects addition, wait for reviewers

#1605 chore: Add Laugh Hub Project to Project Hut
  DB/projects.json
Labels: projects addition, wait for reviewers

#1593 feat: Added Options Button in Docs page.
  app/docs/page.tsx
Labels: gssoc23, level2, wait for reviewers

#1606 chore: project addition by Siddhant Patil : StichHub
  DB/projects.json
Labels: projects addition, wait for reviewers

#1614 chore: Added restaurant-website
  DB/projects.json
Labels: projects addition, wait for reviewers

#1625 feat: fetch data from github #1562
  DB/demo.json
  app/projects/page.tsx
  components/api/fetchData.ts
Labels: gssoc23, projects addition, level3, wait for reviewers

#1615 chore: Qoute-Generator
  DB/projects.json
Labels: projects addition, wait for reviewers

#1621 chore: project added by AdityaLahane-2003
  DB/projects.json
Labels: projects addition, wait for reviewers

#1622 chore: project addition by whiteknight16
  DB/projects.json
Labels: projects addition, wait for reviewers

#1638 feat: fixed no matches found in projects section
  app/projects/page.tsx
Labels: gssoc23, level1, wait for reviewers

#1642 refactor
  app/page.tsx
  app/projects/page.tsx
  components/ProjectCard.tsx
Labels: wait for reviewers, title-needs-formatting

#1644 chore: Added AI Fusion project
  DB/projects.json
Labels: projects addition, wait for reviewers

#1640 fix: modify the colour of active links in the navigation bar
  components/Navbar.tsx
Labels: wait for reviewers

#1647 fix: Replaced copy text with ClipBoard icon
  app/docs/page.tsx
Labels: gssoc23, level1, wait for reviewers

#1648 docs: add dark/light theme adaptable gssoc banner 💡
  README.md
Labels: gssoc23, level1, wait for reviewers

#1641 chore: project addition by SurajG20 #1649
  DB/projects.json
Labels: projects addition, wait for reviewers, changes-required

#1651 docs: remove a line
  README.md
Labels: wait for reviewers

#1653 fix: css card issue #1613
  components/ProjectCard.tsx
Labels: gssoc23, level1, wait for reviewers

#1655 fix: clear button disable when there is no filter applied #1654
  app/projects/page.tsx
Labels: gssoc23, level1, wait for reviewers

#1616 chore: project addition by (PrernaSingh01) Issue #1570
  DB/projects.json
Labels: projects addition, wait for reviewers, changes-required

#1669 chore: project addition by akshaysoni10 #1630
  DB/projects.json
  package.json
  pnpm-lock.yaml
Labels: projects addition, wait for reviewers

#1678 chore: project addition by Bhumica #1672
  DB/projects.json
Labels: projects addition, wait for reviewers

#1682 chore: project addition by bindusreekalivarapu
  DB/projects.json
Labels: projects addition, wait for reviewers

#1686 chore: project addition by blindaks #1679
  DB/projects.json
Labels: projects addition, wait for reviewers

#1690 chore: Project addition by Nishit Baria ✔
  DB/projects.json
Labels: projects addition, wait for reviewers

#1684 chore: project addition by Bhumica #1683
  DB/projects.json
Labels: projects addition, wait for reviewers, changes-required

#1691 chore: Project addition by Shreyans Katariya
  DB/projects.json
Labels: projects addition, wait for reviewers

#1713 fix: update footer
  components/Footer.tsx
Labels: gssoc23, level1, wait for reviewers

#1714 feat: add server
  server/.gitignore
  server/package.json
  server/server.ts
  server/src/projects/projects.router.ts
  server/src/projects/projects.service.ts
  server/tsconfig.json
Labels: gssoc23, level3, wait for reviewers

#1715 feat: added User service
  server/src/user/user.router.ts
  server/src/user/user.service.ts
Labels: wait for reviewers

#1717 chore: added Harsh to projects #1652
  DB/projects.json
Labels: projects addition, wait for reviewers, changes-required

#1708 chore: added sahil chalke to projects #1729
  DB/projects.json
Labels: projects addition, wait for reviewers

#1725 chore: Added Testimonial Project
  DB/projects.json
Labels: projects addition, wait for reviewers

#1734 feat: server type defination
  DB/projects.json
  pnpm-lock.yaml
  server/package.json
  server/src/projects/project.interface.ts
  server/src/projects/projects.router.ts
  server/src/projects/projects.service.ts
  server/src/user/user.interface.ts
  server/src/user/user.router.ts
  server/src/user/user.service.ts
Labels: gssoc23, projects addition, level3, wait for reviewers

#1712 fix: Added `Navbar` Component in the layout.
  app/docs/page.tsx
  app/layout.tsx
  app/page.tsx
  app/projects/[username]/page.tsx
  app/projects/page.tsx
  components/Navbar.tsx
Labels: wait for reviewers

#1736 fix: hover effect is added to social media links
  components/Footer.tsx
Labels: wait for reviewers

#1726 chore: added color flipper project (vaibhav-xt)
  DB/projects.json
Labels: projects addition, wait for reviewers

#1738 fix: Opens Github link in new tab
  components/Navbar.tsx
Labels: wait for reviewers

#1739 fix: Added firebase and express to filters
  utils/techStack.ts
Labels: wait for reviewers

#1737 fix: Added scroll to top button
  app/layout.tsx
  components/ScrollToTop.tsx
  components/index.ts
Labels: gssoc23, level2, wait for reviewers

#1745 fix: Footer text color
  components/Footer.tsx
Labels: gssoc23, level1, wait for reviewers

#1746 fix: Makes the Browse Projects button visible in mobile mode
  app/page.tsx
Labels: gssoc23, level1, wait for reviewers

#1755 chore: project addition by [palakkgoyal] #1754
  DB/projects.json
Labels: projects addition, wait for reviewers

#1760 fix: Added aria label on social icons
  components/Footer.tsx
Labels: gssoc23, level1, wait for reviewers

#1759 chore: project addition by [anshulsoni4] #1757
  DB/projects.json
Labels: projects addition, wait for reviewers

#1765 fix: Added Contributors Section
  README.md
Labels: gssoc23, level1, wait for reviewers

#1777 feat: add database
  pnpm-lock.yaml
  server/.gitignore
  server/package.json
  server/server.ts
  server/src/projects/project.interface.ts
  server/src/schema/Projects/project.schema.ts
  server/src/schema/User/user.schema.ts
  server/src/schema/mongo.connect.ts
Labels: gssoc23, level3, wait for reviewers

#1774 chore: project addition by [ankit-0369] #1728
  DB/projects.json
Labels: projects addition, wait for reviewers

#1780 fix: improper pointer actions 🛠
  app/projects/[username]/page.tsx
  components/ProjectCard.tsx
Labels: gssoc23, level1, wait for reviewers

#1793 fix: Copy functionality in Share profile #1786
  app/projects/[username]/page.tsx
Labels: gssoc23, level2, wait for reviewers

#1785 chore: project added by Priyansh
  DB/projects.json
Labels: projects addition, wait for reviewers

#1775 feat: Added animation to cards
  components/Banner.tsx
Labels: gssoc23, level1, wait for reviewers

#1783 chore: project addition by ratishjain12 #1782
  DB/projects.json
Labels: projects addition, wait for reviewers

#1800 fix: space consuming border for elements on intro page 🛠
  components/Banner.tsx
Labels: gssoc23, level1, wait for reviewers

#1807 feat: add authentication
  server/src/middleware/auth.ts
  server/src/projects/projects.service.ts
  server/src/user/user.service.ts
Labels: gssoc23, level3, wait for reviewers

#1803 feat: add validation
  pnpm-lock.yaml
  server/package.json
  server/server.ts
  server/src/projects/project.interface.ts
  server/src/projects/projects.router.ts
  server/src/projects/projects.service.ts
  server/src/user/user.router.ts
  server/src/user/user.service.ts
  server/src/validations/project.validation.ts
  server/src/validations/user.validation.ts
Labels: gssoc23, level3, wait for reviewers

#1804 feat: add logo in footer
  components/Footer.tsx
Labels: wait for reviewers

#1806 chore: project addition by ighoshsubho #1805
  DB/projects.json
Labels: projects addition, wait for reviewers

#1818 chore: Added crypto project
  DB/projects.json
Labels: projects addition, wait for reviewers

#1825 chore: update checklist in all the issue forms
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/project-add.yml
Labels: gssoc23, level1

#1821 chore: Added travel site project
  DB/projects.json
Labels: projects addition, wait for reviewers

#1827 fix: added icon hover for social platforms
  components/Footer.tsx
Labels: gssoc23, level1, wait for reviewers

#1832 chore: project addition by Harshu467 #1828
  DB/projects.json
Labels: projects addition, wait for reviewers

#1839 chore: project addition by AbhishekPSing07 #1794
  DB/projects.json
Labels: projects addition, wait for reviewers

#1843 fix: hidden copyright for mobile devices 🛠
  components/Footer.tsx
  components/MobileNavbar.tsx
Labels: gssoc23, level1, wait for reviewers

#1844 chore: setup husky and commitlint
  .husky/commit-msg
  commitlint.config.ts
  package.json
  pnpm-lock.yaml
Labels: wait for reviewers

#1852 fix: improper image floating animation on homepage 🛠
  app/page.tsx
Labels: gssoc23, level1, wait for reviewers

#1854 fix: browse projects button cut-off on homepage for mobile devices 🛠
  app/page.tsx
Labels: gssoc23, level1, wait for reviewers

#1856 fix: improper way of hiding images on homepage 🛠
  app/page.tsx
Labels: gssoc23, level1, wait for reviewers

#1851 fix: Improved SEO
  app/layout.tsx
Labels: wait for reviewers, changes-required

#1858 chore: IOT project added
  DB/projects.json
Labels: projects addition, wait for reviewers, changes-required

#1671 chore: project addition by Avdhesh-Varshney #1626
  DB/projects.json
Labels: projects addition, wait for reviewers

#1860 chore: added icon hover #1829
  app/projects/[username]/page.tsx
Labels: gssoc23, level1, wait for reviewers

#1861 fix: added proper aria-label in project folder
  app/projects/[username]/page.tsx
Labels: gssoc23, level1, wait for reviewers

#1865 feat: next auth implementation
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/project-add.yml
  .github/workflows/stale-issue.yml
  .gitignore
  .husky/commit-msg
  DB/projects.json
  README.md
  app/ProviderWrapper.tsx
  app/api/auth/[...nextauth]/route.ts
  app/docs/page.tsx
  app/layout.tsx
  app/page.tsx
  app/projects/[username]/page.tsx
  app/projects/page.tsx
  commitlint.config.js
  components/Banner.tsx
  components/Footer.tsx
  components/MobileNavbar.tsx
  components/Navbar.tsx
  components/ProjectCard.tsx
  components/ScrollToTop.tsx
  components/index.ts
  package.json
  pnpm-lock.yaml
  server/.gitignore
  types/next-auth.d.ts
  utils/techStack.ts
Labels: gssoc23, projects addition, level3, wait for reviewers

#1879 chore: project addition by rishabhchaudhary0210 #1862
  DB/projects.json
Labels: projects addition, wait for reviewers

#1880 feat: add close button to filter panel (#1876)
  app/projects/page.tsx
Labels: wait for reviewers

#1881 chore: Prevent Text Selection
  app/page.tsx
  components/Banner.tsx
Labels: gssoc23, level1, wait for reviewers

#1872 chore: project addition by pewpewnor #1867
  DB/projects.json
Labels: projects addition, wait for reviewers

#1882 chore: project addition by Harshu467 #1869
  DB/projects.json
Labels: projects addition, wait for reviewers

#1888 fix: Updated and Modified title, aria-label for Social Links in Some Pages
  app/projects/[username]/page.tsx
  components/Footer.tsx
  components/ProjectCard.tsx
Labels: gssoc23, level1, wait for reviewers

#1889 fix: home page width overflow issue
  app/page.tsx
Labels: gssoc23, level1, wait for reviewers

#1890 feat: improve mobile navbar with subtext for icons
  components/MobileNavbar.tsx
Labels: gssoc23, level2, wait for reviewers

#1892 chore: Navbar Inconsistencyfixed by Harshu467 #1887
  components/Navbar.tsx
Labels: wait for reviewers

#1866 style: Animated Landing Page
  app/page.tsx
  components/Banner.tsx
  package.json
  pnpm-lock.yaml
Labels: gssoc23, level3, wait for reviewers

#1895 chore: Project focus updated by Harshu467 #1884
  app/projects/[username]/page.tsx
  components/Navbar.tsx
Labels: gssoc23, level1, wait for reviewers

#1897 style: Animated Projects
  app/projects/page.tsx
  components/ProjectCard.tsx
  pnpm-lock.yaml
Labels: gssoc23, level3, wait for reviewers

#1905 chore: Why to use section by Harshu467 #1886
  components/Banner.tsx
Labels: gssoc23, level1, wait for reviewers

#1910 chore: Add space themed website
  DB/projects.json
Labels: projects addition, wait for reviewers

#1909 chore: project addition by vaibhav-xt
  DB/projects.json
Labels: projects addition, wait for reviewers, changes-required

#1912 style: Animated docs
  app/docs/page.tsx
  pnpm-lock.yaml
Labels: gssoc23, level2, wait for reviewers, changes-required

#1911 chore: add refactor issue form
  .github/ISSUE_TEMPLATE/refactor_code.yml
Labels: changes-required

#1914 fix(bug): navbar spacing in phones
  components/MobileNavbar.tsx
Labels: gssoc23, level1, wait for reviewers

#1915 feat: revamp hover states for social icons 🪄✨
  app/projects/[username]/page.tsx
  components/Footer.tsx
Labels: gssoc23, level1, wait for reviewers

#1916 feat: optimizing App router implementation for better SEO
  app/docs/page.tsx
  app/page.tsx
  app/projects/[username]/page.tsx
  app/projects/page.tsx
  components/AddYourProjectsGuide.tsx
  components/index.ts
  components/landing/Banner.tsx
  components/landing/Home.tsx
  components/projects/ProjectCard.tsx
  components/projects/ProjectList.tsx
  components/projects/ProjectLoading.tsx
  components/projects/Projects.tsx
Labels: gssoc23, level3, wait for reviewers
