Repository priyankarpal/projectshut, pull requests merged in 2023-04, with the labels that each got.

#129 New Project Added
  .github/ISSUE_TEMPLATE/🐞-report-a-bug-.md
  .github/ISSUE_TEMPLATE/💡-feature-request.md
  .github/ISSUE_TEMPLATE/📙-documentation-update.md
  .github/ISSUE_TEMPLATE/🗣-translation-.md
  .github/ISSUE_TEMPLATE/🙏-others.md
  .github/workflows/dependency-update.yml
  src/DB/projects.json
  src/components/Navbar.jsx
  src/components/ProjectCard.jsx
  translations/Tamil/CODE_OF_CONDUCT.md
  translations/Tamil/contributing.md
  translations/Tamil/readme.md
Labels: PR: reviewed-approved

#130 Correct typo in readme.md
  README.md
Labels: PR: reviewed-approved

#131 Added hover effect to github links using tailwind
  src/components/ProjectCard.jsx
Labels: PR: reviewed-approved

#134 Added a "Remember to add a good commit message"
  README.md
Labels: PR: reviewed-approved

#135 Added eslint tool
  .eslintrc.cjs
  package-lock.json
  package.json
  tailwind.config.cjs
  yarn.lock
Labels: PR: reviewed-approved

#137 perf: migrated to pnpm
  .eslintrc.cjs
  .github/workflows/dependency-update.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tailwind.config.cjs
  yarn.lock
Labels: PR: unreviewed

#138 docs: renamed to pnpm
  contributing.md
Labels: PR: unreviewed

#140 relocated robots.txt (#139)
  public/robots.txt
Labels: PR: reviewed-approved

#147 Update greetings.yml
  .github/workflows/greetings.yml
Labels: PR: unreviewed

#149 Update greetings.yml
  .github/workflows/greetings.yml
Labels: PR: unreviewed

#154 chore: added line clamp 👽
  .eslintrc.cjs
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  src/components/Footer.jsx
  src/components/ProjectCard.jsx
  src/pages/ProjectsPage.jsx
Labels: PR: unreviewed

#165 add a new point in README file
  README.md
Labels: PR: reviewed-approved

#167 chore: adds my project chromatico
  src/DB/projects.json
Labels: PR: reviewed-approved

#168 chore: redesigned the header on projects page
  src/pages/ProjectsPage.jsx
Labels: PR: reviewed-approved

#169 Added tech stacks in readme.md
  README.md
Labels: PR: reviewed-approved

#171 fixed extra padding/margin from both side for mobile view in the projects section.
  src/components/Navbar.jsx
  src/pages/ProjectsPage.jsx
Labels: PR: reviewed-approved

#173 Jatan88
  README.md
  src/DB/projects.json
Labels: PR: reviewed-approved

#175 Fixed: Product cards are too wide (#170)
  .github/ISSUE_TEMPLATE/🐞-report-a-bug-.md
  .github/ISSUE_TEMPLATE/💡-feature-request.md
  .github/ISSUE_TEMPLATE/📙-documentation-update.md
  .github/ISSUE_TEMPLATE/🗣-translation-.md
  .github/ISSUE_TEMPLATE/🙏-others.md
  README.md
  pnpm-lock.yaml
  src/CSS/index.css
  src/DB/projects.json
  src/components/Footer.jsx
  src/components/ProjectCard.jsx
  src/pages/ProjectsPage.jsx
Labels: PR: reviewed-approved

#176 Logo addition in README
  README.md
Labels: PR: reviewed-approved

#177 Project addition for the Website
  src/DB/projects.json
Labels: PR: reviewed-approved

#188 added portfolio project
  src/DB/projects.json
Labels: PR: reviewed-approved

#192 fix: changed the button style #159
  src/pages/HomePage.jsx
Labels: PR: reviewed-approved

#194 fix: added box button #164
  src/components/Banner.jsx
Labels: PR: reviewed-approved

#193 Implemented Pagination
  pnpm-lock.yaml
  src/components/ProjectCard.jsx
  src/pages/ProjectsPage.jsx
  src/utils/paginate.js
Labels: PR: reviewed-approved

#197 Added "Swapnoneel's Portfolio" Project
  src/DB/projects.json
Labels: PR: reviewed-approved

#195 Create my new Project
  src/DB/projects.json
Labels: PR: reviewed-approved

#199 style: changed the contributors design
  src/components/ContributorsCard.jsx
Labels: PR: unreviewed

#203 fix: added auth key for API
  .gitignore
  package.json
  pnpm-lock.yaml
  src/components/ContributorsCard.jsx
Labels: PR: unreviewed

#205 Splash Screen Added
  src/App.jsx
  src/components/SplashScreen.jsx
Labels: PR: reviewed-approved

#206 PageNotFound Added
  src/App.jsx
  src/components/PageNotFound.jsx
Labels: PR: reviewed-approved

#210 Check Documentation
  src/pages/ProjectsPage.jsx
Labels: PR: reviewed-approved

#209 project addition: added projects by pranshu05
  src/DB/projects.json
Labels: PR: reviewed-approved

#215 New Project Added
  package-lock.json
  src/DB/projects.json
Labels: PR: reviewed-approved

#219 Completed adding the function
  src/components/Navbar.jsx
Labels: PR: reviewed-approved

#221 <FIX>h1 and hover effect on buttons fixed
  src/pages/HomePage.jsx
  src/pages/ProjectsPage.jsx
Labels: PR: reviewed-approved

#229 Footer section
  src/DB/projects.json
  src/components/Footer.jsx
Labels: PR: reviewed-approved

#232 added new project
  src/DB/projects.json
Labels: PR: reviewed-approved

#230 Navbar for both Monitor and Mobile screen.
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/App.jsx
  src/CSS/index.css
  src/components/Navbar.jsx
  src/components/SideMenu.jsx
  src/pages/HomePage.jsx
  src/pages/ProjectsPage.jsx
Labels: PR: reviewed-approved

#234 Adding of discord icon
  src/DB/projects.json
  src/components/Footer.jsx
  src/components/Navbar.jsx
Labels: PR: reviewed-approved

#240 Fixed the browse projects btn not be overlaid by other elements
  src/CSS/index.css
  src/pages/HomePage.jsx
Labels: PR: reviewed-approved

#243 Fixed dev img above the footer on mobile view
  src/CSS/index.css
  src/components/Banner.jsx
Labels: PR: reviewed-approved

#241 Add Search Functionality
  src/pages/ProjectsPage.jsx
  src/utils/techStack.js
Labels: PR: reviewed-approved

#248 fix: added ul & li instead of div #247
  src/components/Navbar.jsx
  src/components/SideMenu.jsx
Labels: PR: unreviewed

#250 Chore: added digital media agency landing page template
  src/DB/projects.json
Labels: PR: reviewed-approved

#253 Scroll to top on page changes
  src/App.jsx
  src/components/ScrollToTop.js
  src/pages/ProjectsPage.jsx
Labels: PR: reviewed-approved

#252 Toggle Theme Added
  src/App.jsx
  src/components/Banner.jsx
  src/components/Navbar.jsx
  src/components/PageNotFound.jsx
  src/components/SideMenu.jsx
  src/context/Theme.jsx
  src/main.jsx
  src/pages/AddYourProjectsGuide.jsx
  src/pages/HomePage.jsx
  src/pages/ProjectsPage.jsx
Labels: PR: reviewed-approved

#255 re write the Projectshut introduction
  README.md
Labels: PR: reviewed-approved

#256 docs: changes README
  README.md
Labels: PR: reviewed-approved

#258 chore: icons size changed & emoji changed
  src/components/Navbar.jsx
  src/context/Theme.jsx
Labels: PR: unreviewed

#261 fix: typo on Navbar.jsx
  src/components/Navbar.jsx
Labels: PR: reviewed-approved

#266 feat: footer redesigned #235
  src/components/Footer.jsx
Labels: PR: reviewed-approved

#268 #267:make text visible on both dark and light mode
  src/components/Footer.jsx
  src/context/Theme.jsx
Labels: PR: reviewed-approved

#270 fix: alignment of navbar icons #269
  src/components/Navbar.jsx
  src/context/Theme.jsx
Labels: PR: reviewed-approved

#274 fix: text color issue on splash screen #272
  src/components/SplashScreen.jsx
Labels: PR: reviewed-approved

#275 Centered the text Under MIT License
  src/components/Footer.jsx
Labels: PR: reviewed-approved

#276 Bug: Added padding btw btn and img in homepage
  src/CSS/index.css
  src/pages/HomePage.jsx
Labels: PR: reviewed-approved

#279 :refactor: update routes according to v6 #278
  src/App.jsx
Labels: PR: reviewed-approved

#280 Update contributing.md
  contributing.md
Labels: PR: reviewed-approved

#282 fix: sidebar not appearing for certain width #281
  src/components/Navbar.jsx
Labels: PR: reviewed-approved

#284 corrected a very minor spelling mistake in translation_guide.md
  translations/translation_guide.md
Labels: PR: reviewed-approved

#286 Translated the doc to german
  translations/German/CODE_OF_CONDUCT.md
  translations/German/README.md
  translations/German/contributing.md
Labels: PR: reviewed-approved

#287 listed out some missing translated language in translation_guide.md
  translations/translation_guide.md
Labels: PR: reviewed-approved

#289 :white_check_mark: Setup tests #290
  .github/workflows/unit_tests.yml
  __tests__/pages/AddYourProjectsGuide.test.jsx
  __tests__/pages/ContributorsPage.test.jsx
  __tests__/pages/HomePage.test.jsx
  contributing.md
  package.json
  pnpm-lock.yaml
  src/components/ProjectCard.jsx
  src/pages/HomePage.jsx
  translations/German/CODE_OF_CONDUCT.md
  translations/German/README.md
  translations/German/contributing.md
  vite.config.js
Labels: PR: reviewed-approved

#291 fix: excess tech-items in product card
  src/components/ProjectCard.jsx
Labels: PR: reviewed-approved

#293 Update and rename 🐞-report-a-bug-.md to bug.yml #292
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/🐞-report-a-bug-.md
Labels: PR: unreviewed

#294 Update and rename 💡-feature-request.md to feature.yml #292
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/💡-feature-request.md
Labels: PR: unreviewed

#295 Update bug.yml
  .github/ISSUE_TEMPLATE/bug.yml
Labels: PR: unreviewed

#296 Update and rename 📙-documentation-update.md to docs.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/📙-documentation-update.md
Labels: PR: unreviewed

#298 Update and rename 🗣-translation-.md to translate.yml
  .github/ISSUE_TEMPLATE/translate.yml
  .github/ISSUE_TEMPLATE/🗣-translation-.md
Labels: PR: unreviewed

#299 Delete 🙏-others.md
  .github/ISSUE_TEMPLATE/🙏-others.md
Labels: PR: unreviewed

#301 Added sagar1621 profile to projects.json
  src/DB/projects.json
Labels: PR: reviewed-approved

#302 updated the list of available languages and minor transaltion fix
  translations/German/README.md
  translations/Spanish/README.md
  translations/translation_guide.md
Labels: PR: reviewed-approved

#303 Added new Project
  src/DB/projects.json
Labels: PR: reviewed-approved

#305 Update projects.json
  src/DB/projects.json
Labels: PR: reviewed-approved

#307 Updated userpage
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/translate.yml
  pnpm-lock.yaml
  src/App.jsx
  src/DB/projects.json
  src/components/ProjectCard.jsx
  src/components/ProjectList.jsx
  src/components/SideMenu.jsx
  translations/Italian/CODE_OF_CONDUCT.md
  translations/Italian/README.md
  translations/Italian/contributing.md
  translations/Spanish/README.md
  translations/translation_guide.md
Labels: PR: reviewed-approved

#308 feat: add quality check github action #304
  .github/workflows/quality_check.yml
  package.json
  pnpm-lock.yaml
Labels: PR: reviewed-approved

#311 Added "Line Following Robot" project
  src/DB/projects.json
Labels: PR: reviewed-approved

#314 docs: added few points #313
  contributing.md
Labels: PR: unreviewed

#316 style: change `projectspage/:username` designs #315
  src/components/ProjectList.jsx
Labels: PR: unreviewed

#318 feat: Create style.yml #317
  .github/ISSUE_TEMPLATE/style.yml
Labels: PR: unreviewed

#312 docs: translated to Japanese language and updated the list of available languages.
  README.md
  translations/German/README.md
  translations/Italian/README.md
  translations/Japanese/CODE_OF_CONDUCT.md
  translations/Japanese/README.md
  translations/Japanese/contributing.md
  translations/Spanish/README.md
  translations/translation_guide.md
Labels: PR: reviewed-approved

#320 [Feat] : Add Project Courseify
  src/DB/projects.json
Labels: PR: reviewed-approved

#325 style: improved nav bar style, changed font familly
  __tests__/pages/HomePage.test.jsx
  index.html
  src/App.jsx
  src/components/Navbar.jsx
  src/components/ProjectCard.jsx
  src/components/ProjectList.jsx
  src/components/SideMenu.jsx
  src/context/Theme.jsx
  src/pages/HomePage.jsx
  tailwind.config.cjs
Labels: PR: unreviewed

#326 French translation
  translations/French/CODE_OF_CONDUCT.md
  translations/French/README.md
  translations/French/contributing.md
Labels: PR: partially-approved

#328 docs: change the image #327
  README.md
Labels: PR: unreviewed
