Repository priyankarpal/projectshut, pull requests merged in 2023-05, with the labels that each got.

#330 chore: added github token example
  .env.example
  .gitignore
  src/components/ContributorsCard.jsx
Labels: PR: unreviewed

#339 chore: Update PULL_REQUEST_TEMPLATE.md #337
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR: unreviewed

#340 translation guide update
  .github/PULL_REQUEST_TEMPLATE.md
  translations/translation_guide.md
Labels: PR: reviewed-approved

#342 #334 Remove cards animation
  src/components/ProjectCard.jsx
Labels: PR: reviewed-approved

#349 data: add oyepriyansh's projects
  src/DB/projects.json
Labels: PR: reviewed-approved

#441 Translated docs to Malayalam language
  translations/French/README.md
  translations/German/README.md
  translations/Italian/README.md
  translations/Japanese/README.md
  translations/Malayalam/CODE_OF_CONDUCT.md
  translations/Malayalam/README.md
  translations/Malayalam/contributing.md
  translations/Spanish/README.md
  translations/translation_guide.md
Labels: GSSoC'23

#372 [Bug Fix]: Unsorted Projects When Selecting Tech Stacks #370
  pnpm-lock.yaml
  src/pages/ProjectsPage.jsx
Labels: GSSoC'23

#399 test: Footer component
  __tests__/components/Footer.test.jsx
  jsconfig.json
  src/utils/test-utils.jsx
Labels: GSSoC'23

#386 data: projects addition by vaibhav-xt
  src/DB/projects.json
Labels: GSSoC'23

#454 URL structure to lowercase
  src/App.jsx
  src/components/Navbar.jsx
  src/components/ProjectCard.jsx
  src/components/ProjectList.jsx
Labels: GSSoC'23

#488 docs: update contributing.md
  contributing.md
Labels: GSSoC'23

#392 project addition: added react project
  src/DB/projects.json
Labels: GSSoC'23, ⛔ No Issue Number

#466 dynamic-copyright
  src/components/Footer.jsx
Labels: GSSoC'23

#464 [Docs]: Add Turkish translation of ProjectsHut's docs
  translations/French/README.md
  translations/German/README.md
  translations/Italian/README.md
  translations/Japanese/README.md
  translations/Malayalam/README.md
  translations/Spanish/README.md
  translations/Turkish/CODE_OF_CONDUCT.md
  translations/Turkish/contributing.md
  translations/Turkish/readme.md
  translations/translation_guide.md
Labels: GSSoC'23

#457 Add hindi translation
  README.md
  src/components/Footer.jsx
  translations/Hindi/CODE_OF_CONDUCT.md
  translations/Hindi/README.md
  translations/Hindi/contributing.md
  translations/Turkish/CODE_OF_CONDUCT.md
  translations/Turkish/contributing.md
  translations/Turkish/readme.md
Labels: GSSoC'23

#507 Update README.md
  README.md
Labels: GSSoC'23

#483 Sonustar patch 4
  src/DB/projects.json
Labels: GSSoC'23

#465 Added: Project Spotify Clone
  src/DB/projects.json
Labels: GSSoC'23, 🌱 chore: projects addition

#396 Addition: web resources hub project
  src/DB/projects.json
Labels: GSSoC'23, 🌱 chore: projects addition

#413 data: project addition by Akshatchaube01
  src/DB/projects.json
Labels: GSSoC'23, 🌱 chore: projects addition

#544 docs: 📄 Improved Contribution.md
  contributing.md
Labels: 📚 Documentation, GSSoC'23

#548 data: project addition by akshaykamath45
  src/DB/projects.json
Labels: GSSoC'23, 🌱 chore: projects addition

#559 Social Utopia Project Added
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition

#571 data: project addition by [slayerrr12 ] #issue_number 491
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/project-add.yml
  README.md
  contributing.md
  src/DB/projects.json
Labels: gssoc23

#570 Added Vanilla Javascript Project GEoTrackerX
  src/DB/projects.json
Labels: gssoc23

#568 #567 data: project addition by vilas Chavhan
  src/DB/projects.json
Labels: gssoc23, 🎉 LGTM

#545 added-c-project
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, 🎉 LGTM

#593 solved #417 issue
  .env.example
  src/pages/HomePage.jsx
  tailwind.config.cjs
Labels: gssoc23, label 2

#589 Added toggle switch to the navbar for light/dark mode
  README.md
  src/components/Navbar.jsx
Labels: gssoc23, label 3

#610 added-java-programs
  src/DB/projects.json
Labels: gssoc23, label 1

#613 Github-user-finder
  src/DB/projects.json
Labels: gssoc23

#573 feat: style navbar links on hover and focus
  src/components/Navbar.jsx
  src/components/SideMenu.jsx
Labels: gssoc23, label 2

#472 added-scroll-to-top
  src/components/ScrollToTop.js
  src/components/ScrollToTop.jsx
Labels: gssoc23, changes required

#623 Solved Issue #482 [style]: Make the navbar sticky and prominent
  src/components/Navbar.jsx
  src/components/ScrollToTop.jsx
  src/components/SideMenu.jsx
Labels: gssoc23, label 2, changes required

#615 Change Pages URL
  src/DB/projects.json
Labels: ⛔ No Issue Number, changes required

#633 Personal-portfolio
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition

#634 Fix issue 504
  src/components/Footer.jsx
Labels: gssoc23, 🟨 level 1, changes required

#528 Update README.md
  README.md
Labels: gssoc23, 🟨 level 1, 🎉 LGTM

#637 add back to project link
  src/DB/projects.json
  src/components/ProjectList.jsx
Labels: gssoc23, 🟦 level 2

#656 fix: solve pagination issue
  src/pages/ProjectsPage.jsx
Labels: 🎉 Completed, gssoc23, 🟩 level 3

#652 Project Addition: Added a chrome extension project
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, 🟨 level 1

#661 Update README.md
  README.md
Labels: 📚 Documentation, gssoc23, 🟨 level 1

#663 data: project addition 'Github Finder' by Sanchitbajaj02
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, 🟨 level 1

#651 data: project addition by [Niladri2003] #510
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, 🟨 level 1

#657 data: project addition by Sriparno08
  src/DB/projects.json
Labels: gssoc23, 🟨 level 1

#640 src/components/ProjectList.jsx updated style of tags of tech-stacks
  .github/ISSUE_TEMPLATE/project-add.yml
  README.md
  src/DB/projects.json
  src/components/ProjectList.jsx
Labels: gssoc23, 🟦 level 2

#671 Refactor Navbar
  src/components/Navbar.jsx
Labels: gssoc23, 🟩 level 3

#658 added hover effects on the socials of users
  pnpm-lock.yaml
  src/components/Navbar.jsx
  src/components/ProjectList.jsx
Labels: gssoc23, 🟨 level 1

#691 [style]: change footer UI design #601
  src/CSS/index.css
  src/components/Footer.jsx
Labels: gssoc23, 🟦 level 2

#690 data: project addition
  src/DB/projects.json
Labels: gssoc23, 🟨 level 1

#696 Added YouTube Clone project
  src/DB/projects.json
Labels: gssoc23, 🟨 level 1

#722 Fix issue #684 Bug in project.json file
  .env.example
  contributing.md
  src/DB/projects.json
  src/utils/techStack.js
Labels: gssoc23, 🟩 level 3, changes required

#727 [style]: change hover color to purple according to theme #717
  src/components/ProjectList.jsx
Labels: gssoc23, 🟨 level 1

#713 data: project addition by [sangdeepganvir] #511
  src/DB/projects.json
Labels: gssoc23, 🟨 level 1

#680 Refactor to Change the Router
  src/App.jsx
  src/components/Layout.jsx
  src/main.jsx
Labels: 🐞 bug, changes required

#729 GitHub Profile Searcher
  src/DB/projects.json
Labels: gssoc23, 🟨 level 1

#632 Expanding Card Image Carousel: project addition by [buildwithaman] #735
  src/DB/projects.json
Labels: gssoc23, 🟨 level 1

#739 Translate three files into Russian language
  translations/Russian/CODE_OF_CONDUCT.md
  translations/Russian/README.md
  translations/Russian/contributing.md
Labels: gssoc23, 🟨 level 1

#743 style: Added transition to the navigation bar
  .gitignore
  src/components/Navbar.jsx
Labels: gssoc23, 🟨 level 1

#685 data: project addition by kunal kashyap #682
  src/DB/projects.json
Labels: gssoc23, 🟨 level 1

#649 data: project addition by vishnu-mouli-102408 #issue no. - 648
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, 🟨 level 1

#749 #676 Default theme set to dark mode
  src/context/Theme.jsx
Labels: gssoc23, 🟨 level 1

#757 Missing 'to' and '.' in Paragraph added
  src/components/Footer.jsx
Labels: gssoc23, 🟨 level 1

#762 Project addition by ShreyaDhiman #761
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1

#591 Added a new project in the projects.json file #141
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1, changes required

#776 Fix responsiveness bug (#775) in nav bar
  src/components/Navbar.jsx
Labels: gssoc23, level1

#782 data: project addition [cafe project] #778
  src/DB/projects.json
Labels: gssoc23, level1

#760 Added My project : ChatGPT Clone
  src/DB/projects.json
Labels: gssoc23, level1

#719 data: project addition by Hardikaz #714
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1

#786 bug: Scroll to top fixed #768
  src/components/Footer.jsx
  src/components/ScrollToTop.jsx
Labels: gssoc23, level1

#700 [style]: Responsive Developer Profile #602
  src/DB/projects.json
  src/components/ProjectList.jsx
  src/components/ScrollToTop.jsx
  tailwind.config.cjs
Labels: gssoc23, level2, changes required

#795 [Feat]:paginate the contributors #759
  __tests__/pages/ContributorsPage.test.jsx
  package.json
  pnpm-lock.yaml
  src/components/ContributorCard.jsx
  src/components/ContributorsCard.jsx
  src/pages/ContributorPage.jsx
  src/pages/ContributorsPage.jsx
  src/pages/index.js
Labels: gssoc23, level3, changes required

#791 Refactor: Use loader to fetch contributors data.
  __tests__/pages/ContributorsPage.test.jsx
  src/App.jsx
  src/components/ContributorCard.jsx
  src/components/ContributorsCard.jsx
  src/pages/ContributorPage.jsx
  src/pages/ContributorsPage.jsx
  src/pages/index.js
Labels: gssoc23, level3

#820 PR for project addition after reviewed changes
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1

#815 Added Rock Paper Scissors Project
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1, changes required

#822 Issue#669 GSSOC'23
  src/pages/AddYourProjectsGuide.jsx
Labels: gssoc23, level1, changes required

#810 Added: Project News App #808
  src/DB/projects.json
Labels: gssoc23, level1

#826 data: project addition by AgamK18 #710
  src/DB/projects.json
Labels: gssoc23, level1

#827 fix: Developer profile page card bug solved with additional spacing
  src/components/ProjectList.jsx
Labels: gssoc23, level2

#831 data: project addition by [poojaramnaney] #614
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1

#836 data: project addition by Manoj Sai #829
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1

#837 data: project addition by anirudhsalaria #784
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1

#846 added new projects
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1

#855 data: project addition by suravshrestha #812
  src/DB/projects.json
Labels: gssoc23, level1

#858 [Bug]: change pages URL #484
  src/DB/projects.json
  src/components/Banner.jsx
  src/components/SideMenu.jsx
  src/pages/HomePage.jsx
  src/pages/ProjectsPage.jsx
Labels: gssoc23, level2

#862 data: project addition by sumitkr2000 #524
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1

#873 Added project: Binary Search Tree Visualizer
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1

#875 Update projects.json
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1

#878 Lazy loading enabled and loader component added
  src/App.jsx
  src/utils/Loader.jsx
Labels: gssoc23, level3

#902 Bug fix: changed Back to project Path
  src/components/ProjectList.jsx
Labels: 🐞 bug, gssoc23, level1

#887 data: project addition by TusharMinche #608
  src/DB/projects.json
Labels: gssoc23, level1

#891 project addition by saikirnareddy #860
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1

#892 data: project addition by [abhrajitray77] #557
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1

#904 data: project addition by [Google-Ka-Dinosaur] #612
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1

#905 Wajeeha codes patch 1
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1

#900 data: project addition by @shagunZ #899
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1

#909 [style]: fixed issue 861
  pnpm-lock.yaml
  src/components/ScrollToTop.jsx
  src/pages/HomePage.jsx
Labels: gssoc23, level1

#912 #901-fixed projects link in mobile
  src/components/SideMenu.jsx
Labels: gssoc23, level1

#920 feat: add search project option
  package.json
  pnpm-lock.yaml
  src/DB/projects.json
  src/components/ScrollToTop.jsx
  src/pages/HomePage.jsx
  src/pages/ProjectsPage.jsx
  src/utils/searchProject.js
Labels: gssoc23, level3

#919 data: project addition by Vidip-Ghosh #915
  src/DB/projects.json
Labels: gssoc23, level1

#910 data: project addition by [coderhersh] #695
  src/DB/projects.json
Labels: gssoc23, level1

#938 Update projects.json Added my Project in it.
  src/DB/projects.json
Labels: gssoc23, level1, changes required

#928 Refactor: Use arrow functions throughout the codebase.
  src/App.jsx
  src/components/Banner.jsx
  src/components/Footer.jsx
  src/components/Layout.jsx
  src/components/ProjectCard.jsx
  src/components/ProjectList.jsx
  src/components/SideMenu.jsx
  src/pages/AddYourProjectsGuide.jsx
Labels: gssoc23, level2

#944 Modify HomePage.jsx
  src/pages/HomePage.jsx
  tailwind.config.cjs
Labels: gssoc23, level2

#936 project addition by [Niladri2003] #653
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1

#953 [Fix]: Updated labeller
  .github/labeler.yaml
  .github/workflows/ph-labeler.yaml
Labels: 🐞 bug

#926 data: projects addition by akshaya #927
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level1

#914 sitemap addtion
  public/sitemap.xml
Labels: gssoc23, level2, 💻 aspect: code, :tada: LGTM

#960 data: project addition Med.Ez(Medicine management system)
  src/DB/projects.json
Labels: gssoc23, 🌱 chore: projects addition, level2

#962 data: project addition by sumitkr2000 #866
  src/DB/projects.json
Labels: 🌱 chore: projects addition, level1, wait for reviewers

#968 data: project addition by sumitkr2000 #863
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#942 feat: sticky navbar done
  src/components/Navbar.jsx
Labels: gssoc23, level1, wait for reviewers, 🕹 aspect: interface

#974 Update Footer.jsx typo
  src/components/Footer.jsx
Labels: gssoc23, level1, wait for reviewers

#983 Fix docs page bug #946
  src/pages/AddYourProjectsGuide.jsx
Labels: gssoc23, level1, wait for reviewers

#988 data: project addition by Utkers-h #916
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#994 data: project addition by prasanta10 #885
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1002 data: project addition by Monishka8303 #626
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#992 Feat: Refactor search bar to provide real-time updates #949
  src/pages/ProjectsPage.jsx
  src/utils/searchProject.js
Labels: gssoc23, level3, wait for reviewers

#997 Docs: improve README.md file
  README.md
Labels: gssoc23, level1, wait for reviewers

#1008 Data: project addition by using HTML ans CSS #706
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1010 Data: project addition by sonam #708
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1013 Data: project addition by SJ-Kumar #707
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1018 Docs: Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: wait for reviewers

#1004 Data: project addition by Deepanshu #981
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1019 Fix: Improve responsiveness of page #880
  README.md
  src/CSS/index.css
  src/pages/AddYourProjectsGuide.jsx
Labels: wait for reviewers

#1020 Refactor: Filter using searchParams and search only in Filtered Projects #868
  src/DB/projects.json
  src/pages/ProjectsPage.jsx
  src/utils/searchProject.js
Labels: gssoc23, level2, wait for reviewers, 💻 aspect: code

#1026 Refactor: Retain filter #1024
  src/components/ProjectCard.jsx
  src/components/ProjectList.jsx
  src/pages/ProjectsPage.jsx
Labels: wait for reviewers

#1027 Data: project addition by pankajktech #1014
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1038 Feat: random project select
  pnpm-lock.yaml
  src/components/ProjectList.jsx
  src/utils/paginate.js
Labels: gssoc23, level3, wait for reviewers

#1003 Fix: social media icons positioned properly inside the profile card #867
  src/components/ProjectList.jsx
Labels: gssoc23, level1, wait for reviewers

#1030 Docs: add contributors graph with dropdown
  README.md
Labels: wait for reviewers

#1036 Docs: translated into kannada #918
  translations/Kannada/CODE_OF_CONDUCT.md
  translations/Kannada/README.md
  translations/Kannada/contributing.md
Labels: wait for reviewers

#1011 Feat: Multiple Selected Options and Context Integration
  src/App.jsx
  src/components/ProjectList.jsx
  src/context/FilterContext.jsx
  src/pages/ProjectsPage.jsx
Labels: gssoc23, level3, wait for reviewers, conflict
