Repository priyankarpal/projectshut, pull requests merged in 2023-08, with the labels that each got.

#1919 refactor: lowercasing tech stack name
  DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1929 refactor: standordizing and lowercasing tech stack names
  DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1918 feat: implementing dynamic title to pages
  app/docs/page.tsx
  app/layout.tsx
  app/projects/[username]/page.tsx
  app/projects/page.tsx
Labels: gssoc23, level2, wait for reviewers

#1932 feat: Implementing Next.js Metadata API for better SEO and Web Shareability
  app/layout.tsx
Labels: gssoc23, level2, wait for reviewers

#1931 fix: Updated styles.yml File For ISSUE TEMPLATES
  .github/ISSUE_TEMPLATE/styles.yml
Labels: gssoc23, level1

#1935 style: make mobile navbar transparent #1934
  components/MobileNavbar.tsx
  components/Navbar.tsx
Labels: wait for reviewers

#1936 style: applied glass morphism in navbar
  components/Navbar.tsx
Labels: gssoc23, level1, wait for reviewers

#1940 chore: project addition added by Ludo Game
  DB/projects.json
Labels: projects addition, wait for reviewers

#1946 chore: update styling of homepage on small devices
  components/Footer.tsx
  components/landing/Banner.tsx
  components/landing/Home.tsx
Labels: gssoc23, level1, wait for reviewers

#1947 chore: use Link component and add aria-label
  components/Footer.tsx
  components/MobileNavbar.tsx
  components/Navbar.tsx
  components/ScrollToTop.tsx
  components/landing/Home.tsx
  components/projects/ProjectCard.tsx
  components/projects/ProjectList.tsx
Labels: gssoc23, level1, wait for reviewers

#1949 style: decresing font-size of copyright section
  components/Footer.tsx
Labels: gssoc23, level1, wait for reviewers

#1954 style: aligned documentation and license in footer
  components/Footer.tsx
Labels: wait for reviewers

#1953 chore: Added `star on GitHub` image 🌟🚀
  components/Footer.tsx
Labels: gssoc23, level1, wait for reviewers

#1957 chore: added new ML Project by Parul1606 #1938
  DB/projects.json
Labels: projects addition, wait for reviewers

#1956 docs: improve contributing guide
  contributing.md
Labels: gssoc23, level1, wait for reviewers

#1965 chore: project addition by pavitrachavda97 #1958
  DB/projects.json
Labels: projects addition, wait for reviewers

#1964 style: aligned and added responsiveness documentation and license in…
  .gitignore
  components/Footer.tsx
Labels: wait for reviewers

#1971 fix: conflict solved
  .gitignore
  DB/projects.json
  components/Footer.tsx
  contributing.md
  package.json
  pnpm-lock.yaml
Labels: projects addition, wait for reviewers

#1967 chore: project addition by pavitrachavda97 #1959
  DB/projects.json
Labels: projects addition, wait for reviewers

#1968 feat: added new projects and modified the previous ones
  DB/projects.json
Labels: projects addition, wait for reviewers

#1972 refactor: enhancing ProjectList.tsx 🪄 ✨
  components/projects/ProjectList.tsx
Labels: gssoc23, level1, wait for reviewers

#1973 style: made the footer in mobile view centered
  components/Footer.tsx
Labels: wait for reviewers

#1974 chore: projects addition by aryainguz #1974
  DB/projects.json
Labels: projects addition, wait for reviewers

#1988 style: fixed the profile-card moving issue
  components/projects/ProjectList.tsx
Labels: wait for reviewers

#1986 chore: project addition by iqrasarwar #1980
  DB/projects.json
Labels: projects addition, wait for reviewers

#1990 chore: adding metadatabase
  app/layout.tsx
Labels: gssoc23, level1, wait for reviewers

#1989 chore: displaying social icons with valid social URL
  DB/projects.json
  components/projects/ProjectList.tsx
Labels: gssoc23, level3, wait for reviewers

#1987 docs: improve site docs
  components/AddYourProjectsGuide.tsx
Labels: gssoc23, level2, wait for reviewers, changes-required

#1977 chore: project addition by nc1z #2000
  DB/projects.json
Labels: projects addition, wait for reviewers, conflict, changes-required

#2001 chore: handling unidentified dynamic routes
  components/projects/ProjectList.tsx
Labels: gssoc23, level1, wait for reviewers

#2002 docs: updating site docs and contributing.md
  components/AddYourProjectsGuide.tsx
  contributing.md
Labels: gssoc23, level1, wait for reviewers

#1985 chore: Added new project #1978
  DB/projects.json
Labels: projects addition, wait for reviewers

#2003 fix: adding hover & click effect in projects card
  components/projects/ProjectCard.tsx
Labels: gssoc23, level1, wait for reviewers

#2004 feat: added the steps feature in the docs with improvising the UI
  components/AddYourProjectsGuide.tsx
Labels: gssoc23, level2, wait for reviewers

#2009 fix: fixing hyperlink issue
  components/projects/ProjectList.tsx
Labels: gssoc23, level1, wait for reviewers

#2011 chore: installing sharp package
  package.json
  pnpm-lock.yaml
Labels: gssoc23, level1, wait for reviewers

#2014 feat: adding skeleton effect to user page
  components/projects/Loading.tsx
  components/projects/ProjectList.tsx
  components/projects/ProjectLoading.tsx
  components/projects/Projects.tsx
Labels: gssoc23, level3, wait for reviewers

#2020 chore: app landing page is added
  DB/projects.json
Labels: projects addition, wait for reviewers

#2024 chore: Filpkart data scrap project
  DB/projects.json
Labels: projects addition, wait for reviewers

#2026 feat: streamlining Social Media Link Collection with GitHub API
  API/user.tsx
  DB/projects.json
  components/projects/ProjectList.tsx
Labels: gssoc23, level3, wait for reviewers

#2043 docs: updating site docs and contributing.md
  components/AddYourProjectsGuide.tsx
  contributing.md
Labels: gssoc23, level1, wait for reviewers

#2048 fix(docs): typo in CONTRIBUTING.md
  contributing.md
Labels: gssoc23, level1, wait for reviewers

#2046 feat: implementing use of framer-motion in server components
  components/AddYourProjectsGuide.tsx
  components/framer-motion/index.tsx
  components/framer-motion/util.tsx
  components/landing/Banner.tsx
  components/landing/Home.tsx
  components/projects/ProjectCard.tsx
  components/projects/Projects.tsx
Labels: gssoc23, level3, wait for reviewers

#2051 refactor: remove duplicate key & value #2050
  DB/projects.json
Labels: projects addition, wait for reviewers

#2053 refactor: updating "link" to "github_url" in JSON file
  DB/projects.json
  components/projects/ProjectCard.tsx
  components/projects/ProjectList.tsx
  components/projects/Projects.tsx
Labels: gssoc23, level2, wait for reviewers

#2081 chore: Mrittik-Server – an open-source REST API developed with Node.js and Express.js
  DB/projects.json
Labels: projects addition, wait for reviewers

#2093 feat: added tailwind CSS to filters
  utils/techStack.ts
Labels: wait for reviewers

#2095 chore: project addition by RaviSolanki27
  DB/projects.json
Labels: projects addition, wait for reviewers

#2100 chore: project addition by sahilchalke
  DB/projects.json
Labels: projects addition, wait for reviewers

#2101 docs: added video guide to contributing.md
  contributing.md
Labels: wait for reviewers, changes-required

#2103 chore: project addition by ChiragAgg5k #2102
  DB/projects.json
Labels: projects addition, wait for reviewers, changes-required
