Repository priyankarpal/projectshut, pull requests merged in 2023-06, with the labels that each got.

#1054 Fix: Nav active fix
  README.md
  package.json
  pnpm-lock.yaml
  src/DB/projects.json
  src/components/SideMenu.jsx
  translations/Kannada/CODE_OF_CONDUCT.md
  translations/Kannada/README.md
  translations/Kannada/contributing.md
Labels: projects addition, wait for reviewers

#1037 Fix: Icons are optimized
  __tests__/components/Footer.test.jsx
  __tests__/components/SplashScreen.test.jsx
  package.json
  pnpm-lock.yaml
  src/CSS/index.css
  src/components/Footer.jsx
  src/components/Navbar.jsx
  src/components/ProjectList.jsx
  src/components/ScrollToTop.jsx
  src/components/SideMenu.jsx
  src/pages/AddYourProjectsGuide.jsx
  src/pages/ProjectsPage.jsx
Labels: gssoc23, level2, wait for reviewers, conflict

#1042 data: project addition by vk20july #823
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1055 data: project addition by SJ-Kumar #1046
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1060 data: projects added by Abhinav kumar
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1062 data: projects added by Abhinav kumar
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1067 data: project addition by Jranii #1063
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1072 fix: change in the opacity of SVG on docs page
  src/DB/projects.json
  src/pages/AddYourProjectsGuide.jsx
Labels: gssoc23, projects addition, level1, wait for reviewers

#964 data: project addition by Soumya2411 #767
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1012 fix: docs page scroll bar issue resolved
  src/components/ProjectList.jsx
Labels: gssoc23, level1, wait for reviewers, title-needs-formatting

#1080 fix: project page path error for side-menu
  src/components/SideMenu.jsx
Labels: wait for reviewers

#1081 docs: Fix Text in README
  README.md
Labels: gssoc23, level1, wait for reviewers

#1089 chore: update social and project links
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1091 chore: Added Projects
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1094 chore: project addition by Gurnav224 #592
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1090 refactor: use search params to search
  src/pages/ProjectsPage.jsx
Labels: wait for reviewers

#1098 fix: Fix Logo Redirect in Footer to Top of Homepage
  pnpm-lock.yaml
  src/pages/HomePage.jsx
Labels: gssoc23, level1, wait for reviewers

#1088 data: project addition by roshan798 #1085
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1112 feat(Infinite Scrolling)
  .github/pr-title-checker-config.json
  package.json
  pnpm-lock.yaml
  src/DB/projects.json
  src/components/ProjectCard.jsx
  src/components/ProjectLoading.jsx
  src/components/SideMenu.jsx
  src/pages/ProjectsPage.jsx
  src/utils/searchProject.js
Labels: projects addition, wait for reviewers

#1105 fix: solve typeerror issue while share the user profile page link
  src/components/ProjectList.jsx
  tailwind.config.cjs
Labels: gssoc23, projects addition, level3, wait for reviewers

#1107 chore: project addition by Saurav-Pant #1106
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1111 fix: dispaly command is vs code format
  package.json
  pnpm-lock.yaml
  src/DB/projects.json
  src/pages/AddYourProjectsGuide.jsx
Labels: gssoc23, projects addition, level2, wait for reviewers

#1117 chore: project addition by BALASARVAN12 #1104
  src/DB/projects.json
Labels: good first issue, gssoc23, projects addition, level1, wait for reviewers

#1092 fix: hero section image grid
  src/DB/projects.json
  src/components/Banner.jsx
  src/pages/HomePage.jsx
Labels: gssoc23, projects addition, level1, wait for reviewers

#1128 style: redesign contributor profile page
  src/components/ProjectCard.jsx
  src/components/ProjectList.jsx
  src/pages/ProjectsPage.jsx
  src/utils/searchProject.js
Labels: wait for reviewers

#1130 chore: project addition by kumar11jr #1124
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1120 chore: project addition by Man07har (#1123)
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1108 fix: #1044
  src/components/ScrollToTop.jsx
Labels: gssoc23, level1, wait for reviewers

#1147 chore: project addition by Deepanshu #1138
  src/DB/projects.json
Labels: gssoc23, projects addition, level1

#1150 fix: solve multiple errors
  package.json
  pnpm-lock.yaml
  src/components/ProjectList.jsx
  src/components/ScrollToTop.jsx
  src/pages/ProjectsPage.jsx
  src/utils/paginate.js
Labels: gssoc23, level3, wait for reviewers

#1145 chore: project addition by coderhersh #1099
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1158 chore: project addition by Jigar #1144
  src/DB/projects.json
Labels: gssoc23, level1, wait for reviewers

#1153 chore: project addition by Roshnijeewani3457 #1142
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1154 fix: Site is taking a lot of time to load because of high-res images #1075
  src/DB/homepage-image.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1163 data: project addition by anirudhsalaria #1149
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1162 chore: added new project
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1172 fix: Optimized card, Popup and Project list
  src/DB/projects.json
  src/components/ProjectList.jsx
Labels: gssoc23, level1, wait for reviewers

#1167 chore: project addition by shagunZ
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1170 chore: project addition by HartzFrequency #issue_number_1155
  src/DB/projects.json
Labels: projects addition, wait for reviewers, conflict, changes-required

#1176 chore: project addition by Ajay-Dhangar #1166
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1180 data: add project of swethapaleti
  src/DB/projects.json
Labels: good first issue, gssoc23, projects addition, level1

#1182 chore: project addition by coderhersh issue number #1169
  src/DB/projects.json
Labels: good first issue, gssoc23, projects addition, level1, wait for reviewers

#1187 chore: project addition by siddarthdayala #1181
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1194 feat(fix issue #1190): add text color black for light mode
  src/pages/ProjectsPage.jsx
Labels: gssoc23, level1, wait for reviewers

#1189 fix: changed project input background and updated yarn.lock file #1028
  pnpm-lock.yaml
  src/CSS/index.css
  src/pages/ProjectsPage.jsx
Labels: gssoc23, level1, wait for reviewers

#1207 chore: Project Addition by dhruvishavaghani #1173
  src/DB/projects.json
Labels: good first issue, gssoc23, projects addition, level1, wait for reviewers

#1208 chore: project addition by govardhan-26
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1213 chore: project addition by Atharvashirsh issue number #1198
  src/DB/projects.json
Labels: good first issue, gssoc23, projects addition, level1, wait for reviewers

#1210 chore: Added projects by Parmesh Bhatt
  src/DB/projects.json
Labels: good first issue, gssoc23, projects addition, level1, wait for reviewers

#1220 chore: project addition by Soumyajit2825 #1199
  src/DB/projects.json
Labels: good first issue, gssoc23, projects addition, level1, wait for reviewers

#1222 chore: project addition
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1223 feat: Meta tags added
  index.html
Labels: 🏁 status: ready for dev, gssoc23, level2, wait for reviewers

#1234 chore: project addition by Atharvashirsh #1229
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1233 chore: project addition by kirtiraj22 #1216
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1227 chore: project addition by codewithavantika #1184
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1192 feat(fix issue 1171): copy snippet
  src/pages/AddYourProjectsGuide.jsx
Labels: gssoc23, level2, work-in-progress, wait for reviewers

#1239 chore: project addition by Prashu-01 #1225
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1242 feat: add codeql workflow
  .github/workflows/codeql.yml
Labels: gssoc23, level2

#1246 chore: project addition by Judge-Paul #1245
  src/DB/projects.json
Labels: good first issue, gssoc23, projects addition, level1

#1218 chore: Added Discord Bot Project
  src/DB/projects.json
Labels: good first issue, gssoc23, projects addition, level1, wait for reviewers

#1244 chore: project addition by Ajay84sia #1244
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1253 chore: update social links
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1251 chore: project addition by Ajay84sia #1251
  src/DB/projects.json
Labels: no issue number, projects addition, wait for reviewers

#1268 chore: project addition by AmanSingh6574 #1232
  src/DB/projects.json
Labels: gssoc23, projects addition, level1

#1272 chore: project addition by Killer2OP #1264
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1274 chore: project addition by Atharvashirsh #1252
  src/DB/projects.json
Labels: gssoc23, projects addition, level1

#1275 feat: add filter option
  .github/workflows/codeql.yml
  package.json
  pnpm-lock.yaml
  src/DB/projects.json
  src/context/FilterContext.jsx
  src/pages/ProjectsPage.jsx
  src/utils/searchProject.js
Labels: gssoc23, projects addition, level3, wait for reviewers

#1278 chore: project addition by Atharvashirsh #1276
  src/DB/projects.json
Labels: gssoc23, projects addition, level1

#1279 chore: Added Animated Coffee Machine project
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1280 chore: project addition by Killer2OP #1273
  src/DB/projects.json
Labels: gssoc23, projects addition, level1

#1309 feat: Next-ts migrate
  .eslintrc.json
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .prettierrc
  DB/homepage-image.json
  DB/projects.json
  README.md
  app/docs/page.tsx
  app/favicon.ico
  app/globals.css
  app/index.ts
  app/layout.tsx
  app/page.tsx
  app/projects/page.tsx
  commitlint.config.cjs
  components/Banner.tsx
  components/Footer.tsx
  components/Layout.tsx
  components/Navbar.tsx
  components/PageNotFound.tsx
  components/ProjectCard.tsx
  components/ProjectList.tsx
  components/ProjectLoading.tsx
  components/ScrollToTop.tsx
  components/SideMenu.tsx
  components/index.ts
  context/FilterContext.tsx
  context/Theme.tsx
  index.html
  jsconfig.json
  next.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/App.jsx
  src/main.jsx
  tailwind.config.cjs
  tailwind.config.js
  tsconfig.json
  utils/Loader.tsx
  utils/paginate.ts
  utils/searchProject.ts
  utils/techStack.ts
  utils/test-utils.tsx
  vercel.json
  vite.config.js
Labels: wait for reviewers

#1288 chore: project addition by Atharvashirsh #1286
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, work-in-progress, wait for reviewers

#1303 fix: Removed unused social icons
  pnpm-lock.yaml
  src/components/ProjectList.jsx
  src/pages/ProjectsPage.jsx
Labels: gssoc23, level2, wait for reviewers, changes-required

#1293 chore: project addition added Unit Converter
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, work-in-progress, wait for reviewers

#1315 chore: TextUtils ADD
  src/DB/projects.json
Labels: gssoc23, projects addition, level1

#1243 chore: project addition/added js extension
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1330 fix: Fix UI alignments for Project Cards
  src/components/ProjectCard.jsx
Labels: gssoc23, level1, wait for reviewers

#1317 chore: project addition/added pet store by @mandliyarajendra11 ( #1266)
  src/DB/projects.json
Labels: 🙅 status: discontinued, gssoc23, projects addition, level1, work-in-progress, wait for reviewers

#1327 chore: project addition/added Meme Generator (#1255)
  src/DB/projects.json
Labels: 🙅 status: discontinued, gssoc23, projects addition, level1, work-in-progress, wait for reviewers

#1329 chore: Adding 5 Projects
  package.json
  pnpm-lock.yaml
  src/DB/projects.json
Labels: 🙅 status: discontinued, gssoc23, projects addition, level1, work-in-progress, wait for reviewers

#1337 chore: Add the project temperature converter by Parmesh Bhatt
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1340 chore: project addition by srujana-16 #1321
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1341 chore: project addition by [junaid-arif-24] #1258
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1342 chore: project addition/added Advice Generator
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1344 chore: project addition by [mswat5] #1259
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1357 chore: project addition by aakanksha
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1356 chore: project addition by sabhisharma-ise #1269
  src/DB/projects.json
Labels: projects addition, level2, wait for reviewers

#1364 fix: Project under Wrong username #1289
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1365 chore: project addition by Killer2OP #1354
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1368 chore: project addition by MisterMickey #1346
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1367 chore: Added IT Service Web-App
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1369 chore: project addition by Hemant2335 #1313
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1376 chore: project addition by Hemant2335 #1313
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1385 chore: Added Java Project
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1382 chore: project addition by sabhisharma-ise #1271
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers, changes-required

#1391 chore: added cryptocurrency-app react project
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1393 chore: project addition by mohitparmar1 #1332
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1417 chore: project addition by Akash-Tandale001 #1416
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1419 chore: Added Calci
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1407 chore: project addition by srujana-16 #1406
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers, title-needs-formatting, changes-required

#1422 chore: project addition by Avdhesh-Varshney #1345
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1432 chore: project addition by Hemant2335 #1387
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1457 fix: errors in project
  DB/projects.json
  app/docs/page.tsx
  app/index.ts
  app/page.tsx
  app/projects/page.tsx
  components/Layout.tsx
  components/Navbar.tsx
  components/ProjectCard.tsx
  components/ProjectList.tsx
  components/SideMenu.tsx
  context/FilterContext.tsx
  context/Theme.tsx
  next.config.js
  package.json
  pnpm-lock.yaml
  utils/paginate.ts
  utils/test-utils.tsx
Labels: wait for reviewers

#1445 chore: temperature converter app
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1433 chore: project addition by @Harshu467 #1334
  src/DB/projects.json
Labels: projects addition, wait for reviewers, changes-required

#1396 chore: project addition by aakanksha
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1372 chore: added project by Prajwal0225
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1403 chore: Added the encrypted Chat_app by Parmesh Bhatt
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers, changes-required

#1425 chore: project addition by sumitkr2000 #1395
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1438 chore: Added ChatGPT - Clone
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1440 chore: project addition by AmanSingh6574 #1290
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers

#1454 chore: project addition by krutikajichkar
  src/DB/projects.json
Labels: projects addition, wait for reviewers

#1434 chore: project addition by whiteknight16] #1324
  src/DB/projects.json
Labels: gssoc23, projects addition, level1, wait for reviewers
