Repository priyankarpal/projectshut, pull requests merged in 2024-05, with the labels that each got.

#2506 feat: Add broken links checker,
  .github/workflows/broken-link-checker.yaml
Labels: ✨ goal: improvement

#2514 fix: Broken link in contributing.md
  contributing.md
Labels: wait for reviewers, chore

#2507 refactor: resolved unreachable footer issue
  DB/projects.json
  components/Footer.tsx
Labels: projects addition, wait for reviewers, 🛠 goal: refactor, chore

#2518 refactor: unreachable footer in projects page
  components/Footer.tsx
  public/workbox-2e6be583.js
Labels: wait for reviewers
